# Server Configuration
PORT=8000

# External API Configuration
API_BASE_URL=https://giaxanghomnay.com/api/pvdate/
API_TIMEOUT=10000

# SQLite Database Configuration
SQLITE_DB_PATH=./database/fuel_data.db

# SQL Server Configuration
MSSQL_USER=your_username
MSSQL_PASSWORD=your_password
MSSQL_SERVER=your_server\\instance
MSSQL_DATABASE=your_database
MSSQL_ENCRYPT=false
MSSQL_TRUST_SERVER_CERTIFICATE=true
